<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<head>

<title th:inline="text">Categorie - [[${categorie.categorie}]]</title>
<th:block layout:fragment="style">
	<link
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
		rel="stylesheet">
	<link rel="stylesheet" th:href="@{/assets/genius/css/file-system.css}" />

</th:block>
</head>
<body>
	<!-- ============================================================== -->
	<!-- main wrapper -->
	<!-- ============================================================== -->
	<div class="dashboard-main-wrapper">
		<!-- ============================================================== -->
		<!-- wrapper  -->
		<!-- ============================================================== -->
		<div class="dashboard-wrapper">
			<div class="dashboard-ecommerce">
				<div class="container-fluid dashboard-content "
					layout:fragment="content">
					<!-- ============================================================== -->
					<!-- pageheader  -->
					<!-- ============================================================== -->
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="page-header">
								<h2 class="pageheader-title">Categories managment</h2>
								<p class="pageheader-text">
								<h4 class="header-title m-b-30">List of categories</h4>
								</p>
								<div class="page-breadcrumb">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a th:href="@{/}"
												class="breadcrumb-link">Home</a></li>
											<li class="breadcrumb-item" aria-current="page"><a
												th:href="@{/categories}" class="breadcrumb-link">List of
													categories</a></li>
											<li class="breadcrumb-item active" aria-current="page"
												th:text="${categorie.categorie}"></li>
										</ol>
									</nav>
								</div>
							</div>
						</div>
					</div>

					<!-- ============================================================== -->
					<!-- end pageheader  -->
					<!-- Buttons area  -->

					<!--  end button area    -->
					<!-- ============================================================== -->

					<!-- ============================================================== -->

					<!-- recent orders  -->
					<!-- ============================================================== -->
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="card" style="padding: 10px">
							<a class="btn btn-danger btn-rounded"
								data-mdb-ripple-color="dark"
								style="background-color: #ee55a2; width: 30%"
								th:href="@{/newCategoryView(id=${categorie.id})}" role="button">
								<i class="fa fa-plus"></i> Add new category
							</a>
							<th:block th:if="${categorie.parent==null}">
								<a class="btn btn-danger btn-rounded"
									data-mdb-ripple-color="dark"
									style="background-color: #ee55a2; width: 30%"
									th:href="@{/newUploadView(id=${categorie.id})}" role="button">
									<i class="fa fa-plus"></i> Add new product
								</a>
							</th:block>
							<th:block th:unless="${categorie.parent==null}">
								<a class="btn btn-danger btn-rounded"
									data-mdb-ripple-color="dark"
									style="background-color: #ee55a2; width: 30%"
									th:href="@{/showAssignationView(id=${categorie.id})}"
									role="button"> <i class="fa fa-plus"></i> Add new product
								</a>
							</th:block>
						</div>
						<div class="card">

							<h5 class="card-header">List of contents</h5>

							<div class="card-body p-0">
								<div class="content">
									<div class="container">
										<div class="row">
											<div class="col-12">
												<div class="card-box">
													<div class="row">
														<div class="col-lg-6 col-xl-6"></div>
													</div>
													<th:block th:if="${categorie.subCategories.size>0}">
														<div class="row">


															<div class="col-lg-3 col-xl-3"
																th:each="categorie: ${categorie.subCategories}">
																<input type="hidden" th:value="${categorie.id}">
																<div class="file-man-box">
																	<a href="" class="file-close"><i
																		class="fa fa-times-circle"></i></a>
																	<div class="file-img-box">
																		<a th:href="@{/infosCategorie(id=${categorie.id})}">
																			<img th:src="@{assets/images/folder_empty.svg}"
																			alt="icon">
																		</a>
																	</div>
																	<a href="#" class="file-download"></a>
																	<div class="file-man-title">
																		<h5 class="mb-0 text-overflow"
																			th:text="${categorie.categorie}"></h5>
																		<p class="mb-0">
																			<small></small>
																		</p>
																	</div>
																</div>
															</div>

														</div>

													</th:block>
													<div class="row">
														<!--   Colleage de fragment -->
																<div class="col-lg-12 col-xl-12">
																<div
																	th:insert="fragments/client_contents :: contents(articles=${assignations})"></div>
															</div>
														<!--  fin colleage de framgent -->


													</div>
													<!-- end col -->
												</div>
												<!-- end row -->
											</div>
											<!-- container -->
										</div>

									</div>
								</div>
							</div>
						</div>
						<!-- ============================================================== -->
						<!-- end recent orders  -->


						<!-- ============================================================== -->
					</div>
				</div>
				<!-- ============================================================== -->
				<!-- footer -->
				<!-- ============================================================== -->

				<!-- ============================================================== -->
				<!-- end footer -->
				<!-- ============================================================== -->
			</div>
			<!-- ============================================================== -->
			<!-- end wrapper  -->
			<!-- ============================================================== -->
		</div>
	</div>
	<th:block layout:fragment="script">

	</th:block>
</body>

</html>