<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<head>

<title><th:block th:if="${categorie!=null}">
		sub
	</th:block> <th:block th:if="${categorie==null}">
			New category 
	</th:block></title>
</head>
<body>
	<!-- ============================================================== -->
	<!-- main wrapper -->
	<!-- ============================================================== -->
	<div class="dashboard-main-wrapper">
		<!-- ============================================================== -->
		<!-- wrapper  -->
		<!-- ============================================================== -->
		<div class="dashboard-wrapper">
			<div class="dashboard-ecommerce">
				<div class="container-fluid dashboard-content "
					layout:fragment="content">
					<!-- ============================================================== -->
					<!-- pageheader  -->
					<!-- ============================================================== -->
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="page-header">
								<h2 class="pageheader-title">New category</h2>
								<p class="pageheader-text">List of categories</p>
								<div class="page-breadcrumb">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a th:href="@{/}"
												class="breadcrumb-link">Home</a></li>
											<li class="breadcrumb-item" aria-current="page"><a
												th:href="@{/categories}" class="breadcrumb-link">Categories
													management</a></li>
											<th:block th:if="${categorie!=null}">
												<li class="breadcrumb-item" aria-current="page"><a
													th:href="@{/infosCategorie(id=${categorie.id})}"
													class="breadcrumb-link" th:text="${categorie.categorie}"></a>
												</li>
											</th:block>
											<li class="breadcrumb-item active" aria-current="page">New
												category</li>
										</ol>
									</nav>
								</div>
							</div>
						</div>
					</div>

					<!-- ============================================================== -->
					<!-- end pageheader  -->
					<!-- Buttons area  -->

					<!--  end button area    -->
					<!-- ============================================================== -->

					<!-- ============================================================== -->

					<!-- recent orders  -->
					<!-- ============================================================== -->
					<div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12">

						<!-- ============================================================== -->
						<!-- select options  -->
						<!-- ============================================================== -->
						<div class="card">
							<div class="row">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<div class="card-body border-top">
										<h3>Enter a name</h3>
										<form th:action="@{/saveCategory}" method="post">
											<div class="form-group">
												<div class='input-group'>
													<input class="form-control form-control-lg" type="text"
														id="categorie" name="categorie" required=""
														placeholder="Category name" />
												</div>
											</div>
											<div class="form-group">
												<div class='input-group'>
													<input class="form-control form-control-lg" type="text"
														id="categorie" name="description" required=""
														placeholder="Description (Optional)" />
												</div>
											</div>
											<div class="form-group pt-2">
												<button class="btn btn-block btn-primary" style="width: 30%"
													type="submit">
													<i class="fa fa-save"></i> Submit </a>
												</button>
											</div>
											</th:block>
											<th:block th:if="${categorie!=null}">
												<input type="hidden" id="categorie" name="id" th:value="${categorie.id}" />											
											</th:block>

										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ============================================================== -->
				<!-- end recent orders  -->


				<!-- ============================================================== -->
			</div>
		</div>
		<!-- ============================================================== -->
		<!-- footer -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- end footer -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- end wrapper  -->
	<!-- ============================================================== -->
	</div>
	<th:block layout:fragment="script">

	</th:block>
</body>

</html>